@import 'styles/variables.scss';

.startPage {
  background-size: cover;
  background-position: center;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba($gray, 0.67);
    z-index: 9;
  }

  h1 {
    text-transform: uppercase;
    padding-bottom: 20px;
    color: $black;

    @media screen and (max-width: 767px) {
      font-size: 25px;
    }
  }

  p {
    padding-bottom: 20px;
  }
}

.introHolder {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 10;
  color: $white;

  @media screen and (min-width: 767px) {
    font-size: 22px;
  }

  strong {
    color: $yellow;
  }

  a {
    margin: 5px;
  }
}
