@import '../../../../styles/variables.scss';

.contactItem {
  padding: 8px 10px;
  border: 1px solid rgba($gray, 0.2);
  background: rgba($gray, 0.1);
  border-radius: 0.45rem;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    overflow-x: auto;
  }
}

.activeContact {
  border: 1px solid rgba($blue, 0.2);
  background: rgba($blue, 0.3);
}

.inActiveContact {
  background: rgba($blue, 0.05);
}

.hiddenContact {
  display: none;
}

.visibleContact {
  display: block;
}

.contactItemHolder {
  display: flex;
  min-width: 737px;
  justify-content: space-between;
}

.contactData {
  padding-right: 30px;
  color: $blue;
  display: flex;

  i {
    color: $fiolet !important;
    padding-right: 7px;
  }
}

.contactName {
  padding-right: 30px;
  display: flex;
  align-items: center;
}

.contactEmail {
  padding-right: 30px;
  display: flex;
  align-items: center;
}

.contactPhone {
  padding-right: 0;
  display: flex;
  align-items: center;
}

.contactHandlers {
  button {
    margin-left: 12px;
    cursor: pointer;
  }
}

.active {
  i {
    color: rgba($black, 0.54) !important;
  }
}

.inActive {
  i {
    color: $white !important;
  }
}
