.formWrapper {
  position: relative;
  padding-top: 20px;
  margin-bottom: 20px;
}

.formInput {
  font-family: 'Indie Flower', cursive;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  width: 80%;
  display: block;
  margin: 20px auto 0;
  box-sizing: border-box;
  font-size: 28px;
  font-style: italic;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.3);

  &:placeholder {
    font-family: 'Indie Flower', cursive;
    color: #000;
  }
}

.btnSubmit {
  color: #6c757d;
  background-color: rgba(175, 47, 47, 0.35);
  border: 0;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  padding: .8rem 2rem;
  font-weight: 600;
  font-size: 1.25rem;

  &:disabled {
    color: #6c757d;
    background-color: #e7e7e7;
  }
}