.btn-signup, .btn-login {
  border: 0;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
}

.notification.center {
  text-align: center;
  padding: 30px 20px;
  color: red;
}