.navbar {
  background: #fff;
  padding: 15px 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMenu {
  list-style: none;
  padding-left: 0;
  text-align: center;

  a {
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: color ease .3s;

    &:hover {
      color: rgba(0,0,0, .5);
    }

    &.active {
      color: rgba(175, 47, 47, 0.55);
      // В хорошем подходе сделай себе файл стилей с глобальными переменными где ты будешь хранить
      // цвета, размеры глобальные и т д, это необходимо для быстрого изменения темы твоего приложения в дальнейшем
    }
  }
}

.logOut {
  border: 0;
  background: none;
  text-transform: uppercase;
  color: #000;
  transition: color ease .3s;

  &:hover {
    color: rgba(0,0,0, .5);
  }
}