@import '../../../styles/variables.scss';

.contactsPage {
  padding: 40px 0;

  h2 {
    margin-bottom: 30px;
  }
}

.formBlock {
  padding-bottom: 10px;

  h3 {
    margin-bottom: 20px;
  }
}

.contactBlock {
  padding-bottom: 40px;

  h3 {
    margin-bottom: 20px;
  }
}

.selectContactBlock {
  margin-bottom: 40px;

  h3 {
    margin-bottom: 20px;
  }
}

.contactStatusFilter {
  padding-bottom: 40px;

  h3 {
    margin-bottom: 10px;
  }
}

.active {
  text-decoration: underline;
  color: $fiolet;
}

.contactsToggler {
  display: flex;
  justify-content: center;
  text-transform: uppercase;

  li {
    padding: 0 10px;
    position: relative;

    &:after {
      content: '|';
      position: absolute;
      right: 0;
      top: -1px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  a {
    &:hover {
      @extend .active;
    }
  }
}

.btnHolder {
  text-align: center;
}
